html, body {
    width: 100%;
    font: 16px Arial, sans-serif;
    margin: 0;
    background-color: #1d4e89;
}

body {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

header a, footer a {
    color: #DCFF11;
}

header a:hover, footer a:hover {
    color: #91FDFF;
}

#phrase {
    font-weight: bold;
    font-style: italic;
}

.wrapper {
    flex: 1;
    margin-left: 30px;
    margin-right: 30px;
}

.navbar {
    width: 100%;
    flex: 0 0 100%;
    padding: 0;
    margin-top: 5px;
    order: 0;
    background-color: #858585;
}

#steps {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#content {
    order: 1;
}

#main {
    background-color: #FFF;
    padding: 2px;
}

#main a {
    color: #891d4e;
}

header, footer {
    color: #FFFFFF;
}

footer {
    order: 2;
    display: flex;
    flex-direction: column;
    flex: 1;
}